.button {
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 600;
    outline: none;
    color: #fff;
}

.light {
    background-color: #787878;
}

.light:hover, .light:focus {
    background-color: #504f4f;
}

.primary {
    background-color: #2c90a1;
}

.primary:hover, .primary:focus {
    background-color: #1e5a64;
}