.input {
    width: 100%;
    display: block;
    position: relative;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 35px 15px 10px 19px;
    background-color: #26262e;
    border: 2px solid transparent;
    color: #7c7a7a;
}

.input span {
    position: absolute;
    top: 55%;
    transform: translateY(-160%) scale(1);
    font-weight: bold;
    font-size: 14px;
}

.input input {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
}

label.input:focus-within{
    border: 2px solid #2c90a1;
    color: #2c90a1;
}